.fundo{
    background-color: aliceblue;
}
#primeiro_quadro {
    background-color: red;
    width: 80;
    height: 80;
    position: absolute;
    top: 0ch;
    left: 0ch;
}
#segundo_quadro {
    background-color: green;
    width: 80;
    height: 80;
    position: absolute;
    bottom: 0ch;
    left: 0ch;
    
}
#terceiro_quadro {
    background-color: yellow;
    width: 80;
    height: 80;
    position: absolute;
    right: 0ch;
    top: 0cm;
}
#quarto_quadro {
    background-color: blue;
    width: 80;
    height: 80;
    position: absolute;
    bottom: 0ch;
    right: 0ch;
 versao01
}
